<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia Cole - About</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" />
    <link href="css/about.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/2c1bb557eb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <ul type="none" class="menu">
          <li><a href="/">| HOME |</a></li>
          <li><a href="/about"> ABOUT |</a></li>
          <li><a href="/music"> MUSIC |</a></li>
          <li><a href="/contact"> CONTACT |</a></li>
        </ul>
      </nav>
      <ul type="none">
        <li>
          <a href="https://twitter.com/" target="_blank"
            ><i class="fa-brands fa-x-twitter" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="https://facebook.com/" target="_blank"
            ><i class="fa-brands fa-facebook" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="https://spotify.com" target="_blank"
            ><i class="fa-brands fa-spotify" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="https://apple.com" target="_blank"
            ><i class="fa-brands fa-apple" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="https://amazon.com" target="_blank"
            ><i class="fa-brands fa-amazon" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank"
            ><i class="fa-brands fa-instagram" style="color: #000000"></i
          ></a>
        </li>
      </ul>
    </header>
    <section>
      <h1>
        ABOUT <br />
        EMILIA //
      </h1>
    </section>
    <section class="quotes">
      <q
        >Seattle-based pop star makes her <br />
        indie debut with a hauntingly beautiful album
      </q>
      <h6>- John Tirckle, Music Today Post</h6>
    </section>
    <section class="quotes">
      <br />
      <q
        >Emilia Cole is one of the <br />
        scene's breakout stars</q
      >
      <h6>- John Tirckle, Music Today Post 10:55</h6>
    </section>
    <!-- <img src="img/emilia-about.jpg" alt="Imagen de fondo" width="100%" /> -->
  </body>
</html>
