<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia Cole - Contact</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" />
    <link href="css/contact.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/2c1bb557eb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <ul type="none">
          <li><a href="/">| HOME | </a></li>
          <li><a href="/about"> ABOUT | </a></li>
          <li><a href="/music"> MUSIC | </a></li>
          <li><a href="/contact"> CONTACT | </a></li>
        </ul>
      </nav>
      <ul type="none">
        <li>
          <a href="https://twitter.com/" target="_blank"
            ><i class="fa-brands fa-x-twitter" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="https://facebook.com/" target="_blank"
            ><i class="fa-brands fa-facebook" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="https://spotify.com" target="_blank"
            ><i class="fa-brands fa-spotify" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="https://apple.com" target="_blank"
            ><i class="fa-brands fa-apple" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="https://amazon.com" target="_blank"
            ><i class="fa-brands fa-amazon" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank"
            ><i class="fa-brands fa-instagram" style="color: #0d0d0d"></i
          ></a>
        </li>
      </ul>
    </header>
    <section>
      <h1>CONTACT //</h1>
      <h3>WE ARE HERE</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697161624765!5m2!1ses-419!2sar"
        width="1250"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <article>
        <h3>CONTACT INFO</h3>
        <h4 class="subtitulos">MANAGEMENT | Karen Blanche</h4>
        <p>email: <a href="mailto:lili.49_@outlook.com">info@mysite.com</a></p>
        <p>phone:<a href="tel:+541144165277">123-456-7890</a></p>
      </article>
      <article>
        <h4 class="subtitulos">BOOKING | Daniel Ku</h4>
        <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
        <p>phone:<a href="tel:123-456-7890">123-456-7890</a></p>
      </article>
      <article>
        <h4 class="subtitulos">LABEL | Wix Records, Jake Coldman</h4>
        <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
        <p>phone:<a href="tel:123-456-7890">123-456-7890</a></p>
      </article>
      <article>
        <h4 class="subtitulos">PR | Thar Girl Pr, Sarah Brookstone</h4>
        <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
        <p>phone:<a href="tel:123-456-7890">123-456-7890</a></p>
      </article>
    </section>
  </body>
</html>
