<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/2c1bb557eb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/music">MUSIC</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>
      <ul>
        <li>
          <a href="https://twitter.com/" target="_blank"
            ><i class="fa-brands fa-x-twitter" style="color: #161718"></i
          ></a>
        </li>
        <li>
          <a href="https://facebook.com/" target="_blank"
            ><i class="fa-brands fa-facebook" style="color: #2363d1"></i
          ></a>
        </li>
        <li>
          <a href="https://spotify.com" target="_blank"
            ><i class="fa-brands fa-spotify" style="color: #197a06"></i
          ></a>
        </li>
        <li>
          <a href="https://apple.com" target="_blank"
            ><i class="fa-brands fa-apple" style="color: #080f1b"></i
          ></a>
        </li>
        <li>
          <a href="https://amazon.com" target="_blank"
            ><i class="fa-brands fa-amazon" style="color: #0c0f12"></i
          ></a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank"
            ><i class="fa-brands fa-instagram" style="color: #0d0d0d"></i
          ></a>
        </li>
      </ul>
    </header>
    <section>
      <h3>
        EMILIA <br />
        COLE//
      </h3>
    </section>
    <section>
      <h1>TWIST IN MY REALITY</h1>
      <img src="img/emilia-home.jpg" alt="Imagen de portada" width="100%" />
    </section>
  </body>
</html>
