<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia Cole - Music</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/2c1bb557eb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header id="top">
      <img
        src="/img/emilia-music-top.jpg"
        alt="background header music section"
      />
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/music">MUSIC</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>
      <ul>
        <li>
          <a href="https://twitter.com/" target="_blank"
            ><i class="fa-brands fa-x-twitter" style="color: #161718"></i
          ></a>
        </li>
        <li>
          <a href="https://facebook.com/" target="_blank"
            ><i class="fa-brands fa-facebook" style="color: #2363d1"></i
          ></a>
        </li>
        <li>
          <a href="https://spotify.com" target="_blank"
            ><i class="fa-brands fa-spotify" style="color: #197a06"></i
          ></a>
        </li>
        <li>
          <a href="https://apple.com" target="_blank"
            ><i class="fa-brands fa-apple" style="color: #080f1b"></i
          ></a>
        </li>
        <li>
          <a href="https://amazon.com" target="_blank"
            ><i class="fa-brands fa-amazon" style="color: #0c0f12"></i
          ></a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank"
            ><i class="fa-brands fa-instagram" style="color: #0d0d0d"></i
          ></a>
        </li>
      </ul>
    </header>
    <section>
      <h1>MUSIC //</h1>
    </section>
    <section>
      <h4>Direct links</h4>
      <ul>
        <li><a href="">Album</a></li>
        <li><a href="#video1">Video: Organic Love</a></li>
        <li><a href="#video2">Video: Street Light</a></li>
      </ul>
      <article>
        <h2>
          ALBUM <br />
          TWIST IN MY REALITY
        </h2>
        <img src="img/emilia-play-list.png" alt="Imagen del album" />
        <ol>
          <li>
            <i class="fa-sharp fa-solid fa-play" style="color: #080808"></i>
            Organic Love | 02:40
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-play" style="color: #080808"></i>
            Twist In My Reality | 02:10
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-play" style="color: #080808"></i>
            Street Light | 03:28
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-play" style="color: #080808"></i>
            Love Don’t Live Here Anymore (Cover) | 03:49
          </li>
        </ol>
        <a href="#top">Go Top</a>
      </article>
      <article id="video1"></article>
      <h2>Video<br />Organic Love</h2>

      <iframe
        src="https://player.vimeo.com/video/135166028?h=fdb0646ae5"
        width="640"
        height="360"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p>
        Directed by VINCE MALC & EMILIA COLE <br />
        Edited and Filmed by NICOLAS TROY <br />
        Produced by NIKI HEART, <br />
        Wix Films LTD
      </p>
      <a href="#top">Go Top</a>
      <article id="video2"></article>
      <h2>Video<br />Street Light</h2>
      <iframe
        src="https://player.vimeo.com/video/134861419?h=24e3183108"
        width="640"
        height="360"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p>
        Directed by VINCE MALC & EMILIA COLE <br />
        Edited and Filmed by NICOLAS TROY <br />
        Produced by NIKI HEART, <br />
        Wix Films LTD
      </p>
      <a href="#top">Go Top</a>
    </section>
  </body>
</html>
