a{
    text-decoration: none;
}
ul{
    display: flex;
    align-items: center;
    justify-content: end;
}
li{
    margin: 3px;
    font-family: "raleway";
}

h1{
    font-size: 70px;
    font-family: "raleway";
}

h3{
    margin-top: 80px;
    font-size: 30px;
    font-family: "raleway";
}

.subtitulos{
    color:#42a291;
    margin: 45px 0px 25px 0px;
    font-size: 20px;
    font-family: "raleway";
    font-weight: 600;
}

p{
    margin: 5px 0px;
    font-weight: bold;
}

a:link, a:visited,  a:hover, a:active{
    text-decoration: none;
    color: black;
    font-weight: normal;
}